USE [master]
GO
/****** Object:  Database [ncr_app]    Script Date: 17/05/2023 11:45:23 ******/
CREATE DATABASE [ncr_app]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ncr_app', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ncr_app.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ncr_app_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ncr_app_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ncr_app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ncr_app]
GO
/****** Object:  User [prod]    Script Date: 17/05/2023 11:45:24 ******/
CREATE USER [prod] FOR LOGIN [prod] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ncr]    Script Date: 17/05/2023 11:45:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ncr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[problem] [varchar](555) NULL,
	[temporary_action] [varchar](255) NULL,
	[oty] [varchar](255) NULL,
	[standar] [varchar](255) NULL,
	[aktual] [varchar](255) NULL,
	[area] [varchar](255) NULL,
	[qty] [int] NULL,
	[satuan] [varchar](50) NULL,
	[departemen_tujuan] [varchar](255) NULL,
	[jenis] [varchar](50) NULL,
	[foto] [varchar](255) NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_ncr] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/05/2023 11:45:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomor] [int] NULL,
	[npk] [varchar](50) NULL,
	[nama] [varchar](100) NULL,
	[status] [varchar](100) NULL,
	[divisi] [varchar](100) NULL,
	[departemen] [varchar](100) NULL,
	[seksi] [varchar](100) NULL,
	[bagian] [varchar](100) NULL,
	[roles] [varchar](50) NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ncr] ON 

INSERT [dbo].[ncr] ([id], [problem], [temporary_action], [oty], [standar], [aktual], [area], [qty], [satuan], [departemen_tujuan], [jenis], [foto], [status], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium sapien orci, ac viverra metus vestibulum at.', N'Sortir', N'Reject 3 ', N'Tidak ada white mark ', N'White mark sisi kanan ', N'GEDUNG B ', 11, N'Rak', N'MARKETING', N'NCR PROCESS', N'uhay.jpg', N'OK', CAST(N'2023-05-05T03:32:16.000' AS DateTime), CAST(N'2023-05-08T00:13:02.000' AS DateTime), NULL)
INSERT [dbo].[ncr] ([id], [problem], [temporary_action], [oty], [standar], [aktual], [area], [qty], [satuan], [departemen_tujuan], [jenis], [foto], [status], [created_at], [updated_at], [deleted_at]) VALUES (3, N'test problem lorem ipsum dolor sit amet', N'Sortir', N'Reject 3 ', N'Tidak ada white mark ', N'White mark sisi kanan ', N'GEDUNG C FORMATION', 4, N'Unit', N'PPIC', N'NCR PRODUCT', N'Screenshot 2023-05-05 144059.png', N'OK', CAST(N'2023-05-05T07:43:40.000' AS DateTime), CAST(N'2023-05-07T11:36:16.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ncr] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [nomor], [npk], [nama], [status], [divisi], [departemen], [seksi], [bagian], [roles], [email]) VALUES (1, 3, N'396', N'TATI KRISNAWATI', N'Tetap', N'ADMINISTRATION', N'GA, IR & CSR', N'CSR', N'KASIE', NULL, N'futarooow@gmail.com')
INSERT [dbo].[users] ([id], [nomor], [npk], [nama], [status], [divisi], [departemen], [seksi], [bagian], [roles], [email]) VALUES (2, 4, N'412', N'MULAZIM', N'Tetap', N'PLANT', N'PRODUCTION 1', N'PASTING & FORMATION', N'KASIE', NULL, N'futarooow@gmail.com')
INSERT [dbo].[users] ([id], [nomor], [npk], [nama], [status], [divisi], [departemen], [seksi], [bagian], [roles], [email]) VALUES (3, 9, N'461', N'YUSUF SLAMET PELITA', N'Tetap', N'PLANT', N'PRODUCTION 2', N'ASSEMBLING A, MCB & INDUSTRIAL BATT', N'KASUBSIE', NULL, N'futarooow@gmail.com')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
USE [master]
GO
