.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.kotak {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.contain {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}

.table tbody tr * {
  vertical-align: middle;
}

.input-field .input {
  height: 45px;
  width: 87%;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 45px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
i {
  position: relative;
  top: 0px;
  left: 35px;
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}

.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 87%;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
}
.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.one {
  display: flex;
}

label a {
  text-decoration: none;
  color: #fff;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blued: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --red1: #dc3545;
  --yellow1: #ffc107;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.mycontainer {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.mynavigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blued);
  border-left: 10px solid var(--blued);
  transition: 0.5s;
  overflow: hidden;
}
.mynavigation.active {
  width: 80px;
}

.mynavigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mynavigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mynavigation ul li:hover,
.mynavigation ul li.hovered {
  background-color: var(--white);
}

.mynavigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.mynavigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.mynavigation ul li:hover a,
.mynavigation ul li.hovered a {
  color: var(--blued);
}

.mynavigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.mynavigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.mynavigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.mynavigation ul li:hover a::before,
.mynavigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.mynavigation ul li:hover a::after,
.mynavigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.mymain {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.mymain.active {
  width: calc(100% - 80px);
  left: 80px;
}

.mytopbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.mytoggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .mycard {
  position: relative;
  background: var(--blued);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .mycard .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--white);
}

.cardBox .mycard .cardName {
  color: var(--white);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .mycard .iconBx {
  font-size: 3.5rem;
  color: var(--white);
}

.cardBox .mycard:hover {
  background: var(--blued);
}
.cardBox .mycard:hover .numbers,
.cardBox .mycard:hover .cardName,
.cardBox .mycard:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  /* display: grid; */
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  /* position: relative; */
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blued);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blued);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
/* .details .recentOrders table tbody tr:hover {
  background: var(--blued);
  color: var(--white);
} */
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .mynavigation {
    left: -300px;
  }
  .mynavigation.active {
    width: 300px;
    left: 0;
  }
  .mymain {
    width: 100%;
    left: 0;
  }
  .mymain.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .mynavigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .mynavigation.active {
    width: 100%;
    left: 0;
  }
  .mytoggle {
    z-index: 10001;
  }
  .mymain.active .mytoggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
